<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Add Song</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Song Title:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Artist:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Album:</label>
        <input class="form-input" type="text" id="password-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Link:</label>
        <input class="form-input" type="text" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">submit song</button>
      </div>
    </form>
  </div>
</div>
